*{
  padding:0;
  margin:0;
}


.form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:400px;
  width:400px;
  /* background-color: black; */
  border:2px solid black
}

.input{

  height:25px;
  width:200px;
  padding-left: 10px;
  margin:10px;
}

.btn{
     height:40px;
     width:100px;
     border-radius: 5px;
     background-color: red;
     border-color: red;
     color:white;
     font-weight: 600;
     font-size: larger;
     transition:all ease-in-out .05s;
}

.btn:hover{
  background-color: rgb(21, 237, 21);
  border-color: green;
  height:50px;
  width:120px;
  
}